.about_wrap {
    height: 100%;
    align-items: center;
}

.my_photo_block {
    border-radius: 15px;
    overflow: hidden;
    transition: all 0.15s cubic-bezier(.23, 1, .32, 1);
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.35);

    &:hover {
        box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.45);
    }
}

.info_list {
    .label_box {
        position: relative;
        min-width: 90px;

        .label {
            padding-bottom: 2px;
            border-bottom: 3px solid #FF7043;
            color: #222;
            font-weight: bold;
        }
    }

    .row:not(:first-child) {
        margin-top: 20px;
    }
}

.intro_title {
    font-size: 22px;
    word-break: keep-all;
}

.intro_text {
    margin-top: 20px;
    font-size: 14px;
    color: #555;
    word-break: keep-all;
}

.availability_box {
    margin-top: 40px;
    padding-left: 40px;
    font-weight: 500;
    font-size: 16px;

    .status_text {
        margin-left: 4px;
        color: #222;
        font-size: 1.05em;
        font-weight: 600;
    }
}

.status_wrap {
    position: relative;
    display: inline-block;

    span {
        font-size: 16px;
        font-weight: bold;
        &::before,
        &::after {
            border-radius: 50%;
            content: "";
            display: block;
            height: 1rem;
            width: 1rem;
            left: -2rem;
            position: absolute;
            top: 20%;
            transform-origin: 50% 50%;
        }

        &::before {
            animation: status_pulse 2s infinite;
            background-color: #fe9b80;
        }

        &::after {
            background-color: #ff724c;
        }
    }
}

@keyframes status_pulse {
    90% {
        opacity: 0;
        transform: scale(2.5);
    }

    to {
        opacity: 0;
        transform: scale(2.5);
    }
}

@media (max-width: 1450px) {
    .about_wrap {
        width: 80%;
        height: auto;
        flex-wrap: wrap;
        margin: 0 auto;

        .row_item {
            &:nth-child(1),
            &:nth-child(2) {
                width: 50%;
                flex: none;
            }
            &:nth-child(3) {
                width: 100%;

                .info_list {
                    display: grid;
                    grid-template-columns: repeat(3, 2fr);
                    margin-top: 40px;
                    gap: 20px;

                    .row:not(:first-child) {
                        margin-top: 0;
                    }

                    .label_box {
                        min-width: 50px;
                    }
                }
            }
        }
    }
}
@media (max-width: 1024px) {
    .intro_title {
        font-size: 18px;
    }
    .about_wrap {
        width: 100%;

        .label,
        .info_value {
            font-size: 14px;
        }
    }
}

@media (max-width: 768px) {
    .about_wrap .row_item:nth-child(3) .info_list {
        grid-template-columns: repeat(2, 2fr);
    }
}