.header {
    position: fixed;
    width: 200px;
    height: 100%;
    background-color: #fff;
    box-shadow: 0 1px 10px rgba(0,0,0,0.2);
    z-index: 10;

    .photo_box {
        position: relative;
        margin: 20px auto 10px;
        max-width: 100px;
        text-align: center;
        z-index: 0;
    }

    .name_box {
        position: relative;
        z-index: 1;
        margin: 15px 20px 5px;
        text-align: center;

        .name {
            color: #ff724c;
            font-size: 22px;
            font-weight: 400;
            line-height: 1.2em;
            margin: 0;
        }
    }

    .nav_menu {
        padding: 25px 0 30px;
        font-family: 'Oxygen', Helvetica, sans-serif;

        li {
            display: block;
            position: relative;
            padding: 0;

            a {
                position: relative;
                display: block;
                padding: 10px 20px;
                text-align: center;
                color: #222;
                font-size: 15px;
                font-weight: 400;
                opacity: 0.6;
                cursor: pointer;
                border-bottom: 1px solid #f5f5f5;

                > .menu_icon {
                    display: block;
                    width: 100%;
                    margin-bottom: 10px;
                    text-align: center;
                    font-size: 21px;
                    color: #ff724c;
                }

                &::after {
                    content: '';
                    display: block;
                    position: absolute;
                    right: 0;
                    bottom: 0;
                    width: 0;
                    height: 100%;
                    margin: 0 auto;
                    background-color: #ff724c;
                    transition: all 0.2s ease-in-out;
                }

                &:hover {
                    opacity: 1;

                    &::after {
                        width: 3px;
                    }
                }
            }

            &.active {
                a {
                    opacity: 1;

                    &::after {
                        width: 3px;
                    }
                }
            }

            &:first-child a {
                border-top: 1px solid #f5f5f5;
            }
        }
    }

    @media only screen and (max-width: 768px) {
        width: 100%;
        max-width: 320px;
        height: calc(100% - 50px);
        top: 50px;
        z-index: 999;
        box-shadow: 5px 0px 20px 0 rgba(0,0,0,0.1);
        transition: margin 0.66s ease-in-out;

        &.mobile_menu_hide {
            margin-left: -100%;
            box-shadow: none;
        }
    }
}

.mobile_visible {
    display: none;
    visibility: hidden;

    @media only screen and (max-width: 768px) {
        display: block;
        visibility: visible;
    }
}

@media only screen and (max-width: 768px) {
    .mobile_header {
        position: fixed;
        width: 100%;
        height: 50px;
        border-bottom: 1px solid #eee;
        background-color: #fff;
        z-index: 1000;

        .mobile_name {
            margin: 0 20px;
            float: left;

            .name {
                display: inline-block;
                font-size: 18px;
                font-weight: 400;
                font-family: 'Oxygen', Helvetica, sans-serif;
                margin: 0;
                line-height: 50px;
            }
        }

        .menu_toggle {
            display: block;
            width: 50px;
            height: 50px;
            margin: 0 4px;
            line-height: 50px;
            text-align: center;
            float: right;
        }
    }
}