#home .section_inner {
    display: table-cell;
    vertical-align: middle;

    .home_page_block {
      position: relative;
      width: 100%;

      > h2 {
        text-align: center;
        font-size: 70px;
        color: #ff724c;
      }
    }

    &::after, &::before {
      display: none;
    }
}

@media (max-width: 1024px) {
  #home .section_inner .home_page_block > h2 {
    font-size: 50px;
  }
}
@media (max-width: 425px) {
  #home .section_inner .home_page_block > h2 {
    font-size: 40px;
  }
}