#home .section_inner {
    display: table-cell;
    vertical-align: middle;

    .home_page_block {
      position: relative;
      width: 100%;

      > h2 {
        text-align: center;
        font-size: 70px;
        color: #ff724c;
      }
    }

    &::after, &::before {
      display: none;
    }
  }