.block_title {
    margin: 0 0 20px;

    h3 {
        display: inline-block;
        position: relative;
        font-size: 18px;
      
        &::after {
          content: "";
          display: block;
          position: absolute;
          width: 2px;
          height: 100%;
          left: -10px;
          bottom: 0;
          background-color: #ff724c;
        }
      }
}

.timeline_list {
  position: relative;
  border-left: 1px solid #f5f5f5;

  .timeline_item {
    position: relative;
    padding-left: 20px;
    padding-bottom: 20px;

    .timeline_period {
      display: inline-block;
      position: relative;
      color: #fff;
      font-size: 14px;
      font-weight: 500;
      line-height: 14px;
      background-color: #ff724c;
      padding: 5px 8px 5px 20px;
      margin-left: -20px;
    }

    .timeline_name {
      font-size: 16px;
      margin-top: 10px;
    }

    .timeline_role {
      margin: 0 0 4px;
      font-size: 12px;
      font-weight: 300;
      color: #7c7c7c;
    }

    .timeline_detail li {
      margin-bottom: 8px;
      font-size: 12px;
      line-height: 21px;
      word-break: keep-all;
      color: #555;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.skills_box {
  width: 100%;

  .skills_list {
    .skill_item {
      margin-bottom: 20px;

      .skill_label_wrap {
        display: flex;
        justify-content: space-between;
        margin-bottom: 6px;

        .skill_label {
          font-size: 14px;
          font-weight: 500;
          color: #333;
        }

        .skill_level {
          font-size: 14px;
          font-weight: 600;
          color: #ff724c;
        }
      }

      .skill_bar_bg {
        width: 100%;
        height: 16px;
        padding: 4px;
        overflow: hidden;
        background: #ececec;
        border-radius: 8px;

        .skill_bar {
          height: 100%;
          background: linear-gradient(90deg, #ffaf99 0%, #ff724c 100%);
          border-radius: 8px;
        }
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

@media (max-width: 768px) {
  .resume_wrap {
    flex-wrap: wrap;

    .row_item {
      &:nth-child(1),
      &:nth-child(2) {
        flex: none;
        width: 50%;
      }
    }
  }
}
@media (max-width: 425px) {
  .block_title {
    margin: 0 0 20px 10px;
  }

  .resume_wrap {
    flex-direction: column;
    gap: 20px;

    .row_item {
      &:nth-child(1),
      &:nth-child(2) {
        width: 100%;
      }
    }
  }
  .timeline_list {
    border-bottom: 1px solid #f5f5f5;
  }
}